.settings
.classpath
target
.DS_Store

node
node_modules
bin
/lib/
src/main/webapp/components
prism.sql.gz
indexes
map
smal-indexes
datadir
skope.properties
src/main/webapp/img
process.sh
/data/
indexes_
manifest.json
images
